<footer>
    <section class="nb-footer">
      <div class="container">
        <div class="row">
  
  
          <div class="col-md-4 col-sm-6">
            <div class="footer-single">
              <!-- 	<img src="images/logo.png" class="img-responsive" alt="Logo"> -->
  
              <!-- This is only for better view of theme if you want your image logo remove div dummy-logo bellow and replace your logo in logo.png and uncomment logo tag above-->
              <div class="dummy-logo">
                <div class="icon pull-left brand">
                  <img width="75" alt="Velox Icon" src="assets/velox-icon-no-bg.png">
                </div>
                <h2>Velox Ultimate</h2>
                <p>Universty of Texas at San Antonio</p>
              </div>
  
              <p>Come check out our social media pages and if you, or a friend, are interested in joining the team, or
                contribute, then definitly give us a or message and complete our try out form !</p>
              <a href="" class="btn btn-success">
                Learn More&nbsp;
                <i class="fa fa-chevron-right" style="font-size:13px;"></i>
              </a>
            </div>
          </div>
  
  
          <div class="col-md-4 col-sm-6">
            <div class="footer-single useful-links">
              <div class="footer-title">
                <h2>Navigation</h2>
              </div>
              <ul class="list-unstyled">
                <li><a href="">Home<i class="fa fa-angle-right pull-right"></i></a></li>
                <li><a href="">About Us <i class="fa fa-angle-right pull-right"></i></a></li>
                <li><a href="">Services <i class="fa fa-angle-right pull-right"></i></a></li>
                <li><a href="">Portfolio <i class="fa fa-angle-right pull-right"></i></a></li>
                <li><a href="">Pricing <i class="fa fa-angle-right pull-right"></i></a></li>
                <li><a href="">Contact Us <i class="fa fa-angle-right pull-right"></i></a></li>
              </ul>
            </div>
          </div>
  
  
          <div class="col-md-4 col-sm-6">
            <div class="footer-single">
              <div class="footer-title">
                <h2>Contact Information</h2>
              </div>
              <address>
                1 UTSA Cir<br>
                San Antonio, Texas<br>
                <i class="fa fa-phone"></i>&nbsp;&nbsp;  987 654 3210 <br>
                <i class="fa fa-fax"></i>&nbsp; 012 123 2345<br>
                <i class="fa fa-envelope"></i>&nbsp; veloxultimate@gmail.com<br>
              </address>
            </div>
          </div>
  
  
        </div>
      </div>
    </section>
  
    <section class="nb-copyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 copyrt xs-center text-center">
            2019 © All Rights Reserved | UTSA Velox Ultimate | 
            <a href="">Terms & Conditions</a> | <a href="">Privacy Policy</a>
          </div>
        </div>
      </div>
    </section>
  </footer>