<!-- 
  
  Navigation Bar 

-->
<nav class="navbar navbar-dark bg-dark flex-row fixed-top">

    <a class="navbar-brand active" id="logo" routerLink="/" routerLinkActive="active"><img width="30" alt="Velox Icon"
        src="assets/velox-icon-no-bg.png">&nbsp;&nbsp;|
      <span id="teamName">&nbsp;&nbsp;V e l o x</span>
    </a>
  
  
  
    <div class="col-md-2 soc-media">
      <a class="fa-stack fa-lg" style="color:rgb(4, 178, 231)" href="https://twitter.com/UTSAulti">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </a>&nbsp;
      <a class="fa-stack fa-lg" style="color:rgb(241, 155, 129)" href="https://www.instagram.com/utsaultimate/">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
      </a>&nbsp;
      <a class="fa-stack fa-lg" style="color:rgb(7, 97, 199)" href="https://www.facebook.com/groups/utsaultimate/">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </a>&nbsp;
      <a class="fa-stack fa-lg" style="color:rgb(255, 234, 44)" href="https://www.snapchat.com/add/veloxultimate/">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-snapchat-ghost fa-stack-1x fa-inverse"></i>
      </a>
  
    </div>
  
  
    <button class="navbar-toggler ml-lg-0" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  
    </button>
  
  
    <div class="collapse navbar-collapse" id="navbarText">
  
      <ul class="navbar-nav mr-auto">
        <div class="row" style="margin-left:10%">
  
          <li class="nav-item">
            <a class="nav-link text-center text-nowrap" routerLink="">Home&nbsp;&nbsp;&nbsp;|</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link text-center text-nowrap" routerLink="/about-us">&nbsp;About Us&nbsp;&nbsp;&nbsp;|</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link text-center text-nowrap" routerLink="/login">&nbsp;Profile&nbsp;&nbsp;&nbsp;|</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link text-center text-nowrap" routerLink="">&nbsp;Shop&nbsp;&nbsp;&nbsp;|</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link text-center text-nowrap" routerLink="">&nbsp;Contact&nbsp;&nbsp;&nbsp;</a>
          </li>
  
          <form class="form-inline fa-lg" style="margin-left:48%; margin-top:10px;">
            <i class="fa fa-search fa-inverse" type="submit">&nbsp;&nbsp;</i>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          </form>
  
        </div>
      </ul>
  
    </div>
  </nav>