@font-face { 
    font-family: Daily-Q; 
    src: url('src/assets/fonts/daily-quantum/Daily Quantum.ttf'); 
} 

.carousel-item 
{
    img{
        width: 100%
    }

} 



.title-cap{
    font-family: Daily-Q;
    color: white;
    font-weight: bold;
    font-size: 33px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
   // background-color: #9c9c9c;
    background-position: 50%;
    background-image: url('src/assets/thumbnail-background.png');
}

.card-head{
    background-size: cover;
    background-position: 50%;
    background-image: url('src/assets/thumbnail-background.png');
}

.title{

    font-family: Daily-Q;
    color: #ffffff;
    font-size: 50px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    //background-color: #9c9c9c;
    //background-position: cover;

}


#teamName{
    font-weight: bold;
    color: white;
    padding-left:0;
    font-size: 20px;
    font-stretch: wider;
}

.soc-media{
   // float:left;
    margin-left: 60%;
}





.btn-success { 
    border-color: rgb(248, 155, 79); 
    background-color: rgb(248, 155, 79); 
    //color:rgb(251, 249, 249);
}

.btn-success:hover { 
    border-color: rgb(115, 191, 253); 
    background-color: rgb(115, 191, 253); 
}
.btn-info { 
    border-color: rgb(248, 155, 79); 
    background-color: rgb(248, 155, 79); 
    //color:rgb(251, 249, 249);
}

.btn-info:hover { 
    border-color: rgb(115, 191, 253); 
    background-color: rgb(115, 191, 253); 
}









