.nav-item{
   /*    margin-left: 20px;
    //margin-right: 40px; 
    border:2px solid rgb(242, 255, 2);
    width:10%; */
    //width:10%;
    margin-left: 10px;
    
}


#logo{
    margin-right:0;
}


.container{
    width:35%;

}

.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#teamName{
    font-weight: bold;
    color: white;
    padding-left:0;
    font-size: 20px;
    font-stretch: wider;
}

#twitter-icon{
    float:right;
    display: right;
} 

.soc-media{
   // float:left;
    margin-left: 65%;
}