.nav-item{
    margin-left: 10px;  
}

#logo{
    margin-right:0;
}

.container{
    width:35%;
}

.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    
}

#teamName{
    font-weight: bold;
    color: white;
    padding-left:0;
    font-size: 20px;
    font-stretch: wider;
}

.soc-media{
   // float:left;
    margin-left: 65%;
}

.sec-2{
    background: yellow;
    float:left;
    width:70%;
}

.sec-1{
    background: blue;
    width: 30%;
    float:left;
}

section:after {
    content: "";
    display: table;
    clear: both;
  }

footer{
    background: red;
    margin-top:10000px;
}