.nav-item{
     margin-left: 40px;
    //margin-right: 40px; 
    border:2px solid rgb(242, 255, 2);
    width:10%;
}

#teamName{
    font-weight: bold;
    //margin-top:10px;
}

#twitter-icon{
    float:right;
    display: right;
} 
