header {
    background: green;
}

nav{
    background: blue;
    width: 30%;
    float:left;
}

article{
    background: yellow;
    float:left;
    width:70%;
}

section:after {
    content: "";
    display: table;
    clear: both;
  }

footer{
    background: red;
}


